* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62,5%;
    --bg-color: hsl(0, 0%, 100%);
    --text-color: hsl(240, 6%, 21%);
    --bg-img: hsl(240, 9%, 89%);
    --icon-img: hsl(240, 6%, 21%);
    --bg-activeImg: hsl(194, 97%, 31%);
    --icon-activeImg: hsl(0, 0%, 100%);
}
body {
    height: 100vh;
    font-family: sans-serif;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    align-items: center;
    gap: 13.2rem;
}
.timer {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
.text--timer {
    display: flex;
    font-size: 7rem;
    color: var(--text-color)
}
.icons--timer {
    display: flex;
    justify-content: space-between;
}
.icons--timer img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;

}
.icons {
    display: flex;
    gap: 2rem;
}
.icon {
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--bg-img);
    cursor: pointer;
}
.icon button {
    background-color: transparent;
    border: 0;
    font-size: 3rem;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.first--line {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.second--line {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.active {
    background-color: var(--bg-activeImg);
}
.activeIcon {
    color: var(--icon-activeImg);
}
